@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* ========================update property */
.form-label {
  @apply block text-sm font-semibold text-gray-700 mb-1;
}

.form-input {
  @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 transition;
}

.form-textarea {
  @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 resize-none h-32 transition;
}

.btn-primary {
  @apply bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600
  text-white px-8 py-3 rounded-xl font-semibold shadow-md
  hover:scale-105 transition-transform;
}
